.hyperview {
  width: 500px;
  height: 500px;
  border: 1px solid white;
}

.guide {
  fill: none;
  stroke: white;
  stroke-width: 0.5px;
  opacity: 0.1;
}

line {
    stroke-width: 0.25;
    stroke: white;
}

.node {
    fill: white;
    stroke: 0;
}

.lbl {
    fill: white;
    font-size: 8px;
}
