body {
    color:red;
}

svg.micircle {
    width: 500px;
    height: 500px;
    border: 1px solid lightgrey;

    path.arc {
        fill: none;
        stroke: skyblue;
        stroke-width: 20;
    }
}